* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small,
figure figcaption,
blockquote, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.regex,
.token.important {
  color: #e90;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

@font-face {
  font-family: fontastic;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/fontastic/undershirt.eot");
  src: url("../../fonts/fontastic/undershirt.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontastic/undershirt.woff") format("woff"), url("../../fonts/fontastic/undershirt.ttf") format("truetype"), url("../../fonts/fontastic/undershirt.svg#fontastic") format("svg");
}

@-webkit-keyframes tooltip-drop {
  from {
    -webkit-transform: translateY(-10px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes tooltip-drop {
  from {
    -moz-transform: translateY(-10px);
    opacity: 0;
  }

  to {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}

@-o-keyframes tooltip-drop {
  from {
    -o-transform: translateY(-10px);
    opacity: 0;
  }

  to {
    -o-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes tooltip-drop {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes nav-drop {
  from {
    -webkit-transform: translateY(-3.75em);
  }

  to {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes nav-drop {
  from {
    -moz-transform: translateY(-3.75em);
  }

  to {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes nav-drop {
  from {
    -o-transform: translateY(-3.75em);
  }

  to {
    -o-transform: translateY(0);
  }
}

@keyframes nav-drop {
  from {
    transform: translateY(-3.75em);
  }

  to {
    transform: translateY(0);
  }
}

[data-icon]::before {
  color: inherit;
  font-family: fontastic;
}

[data-icon="twitter"]::before {
  content: "\E000";
}

[data-icon="dribbble"]::before {
  content: "\E001";
}

[data-icon="github"]::before {
  content: "\E002";
}

[data-icon="linkedin"]::before {
  content: "\E003";
}

[data-icon="email"]::before {
  content: "\E005";
}

body {
  background-color: #fcfcfc;
  color: #1f1313;
  font-family: "avenir next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
  padding-bottom: 1em;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-style: italic;
}

p {
  padding-bottom: 1em;
}

small, figure figcaption, blockquote {
  color: #999;
  font-size: 0.875em;
  font-style: italic;
}

pre[class*="language-"] {
  background-color: #f5efef;
  border-radius: 3px;
  margin: 0 0 1em;
}

a {
  color: #1dba8f;
  cursor: pointer;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

figure {
  margin-bottom: 1em;
}
figure img {
  width: 100%;
  height: auto;
  border-radius: 3px;
  display: block;
  overflow: hidden;
}
figure figcaption {
  padding-top: 0.5em;
}

blockquote {
  border-left: 3px solid #f5efef;
  margin-bottom: 1em;
  padding-left: 1em;
}

article ul, article
ol {
  padding: 0 0 1em 3em;
}

article ul {
  list-style: disc;
}

article ol {
  list-style: decimal;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #1dba8f;
  color: #1dba8f;
  cursor: pointer;
  display: inline-block;
  font-family: "avenir next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 2.375em;
  line-height: 2.25em;
  padding: 0 1.5em;
  text-align: center;
}
button:hover {
  background-color: #1dba8f;
  color: #fcfcfc;
}

[data-title] {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-animation-name: tooltip-drop;
  -moz-animation-name: tooltip-drop;
  animation-name: tooltip-drop;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  margin-left: -50px;
  width: 100px;
  padding: 10px;
  font-size: 0.8em;
  background-color: rgba(31, 19, 19, 0.7);
  line-height: 1.5em;
  text-align: center;
  border-radius: 3px;
}

.media {
  *zoom: 1;
  display: block;
}
.media:before, .media:after {
  content: " ";
  display: table;
}
.media:after {
  clear: both;
}
.media .media-image {
  float: left;
  margin-right: 0.75em;
  overflow: hidden;
}
.media .media-image img {
  max-heigth: 100%;
  max-width: 100%;
}

.width-wrapper {
  padding: 2.35765% 1.618em;
  height: 100%;
  margin: 0 auto;
  max-width: 740px;
  position: relative;
}

.header-main {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 95vh;
  background-image: url("../../images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fcfcfc;
  z-index: 999;
}
.header-main:before, .header-main:after {
  content: " ";
  display: table;
}
.header-main:after {
  clear: both;
}
.header-main::before {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 19, 19, 0.3);
  content: "";
  display: block;
}
.header-main hgroup {
  position: absolute;
  top: 3.75em;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 740px;
  height: 50%;
  margin: auto;
  text-align: center;
}
.header-main.is-scrolling hgroup {
  display: none;
}

.nav-main {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 3.75em;
  line-height: 3.75em;
}
.nav-main .width-wrapper {
  padding: 0 1.618em;
}

.nav-item {
  color: rgba(252, 252, 252, 0.4);
  display: block;
  float: left;
  font-size: 1.25em;
  margin-left: 0.809em;
  text-align: center;
}
.nav-item:hover, .nav-item.is-selected, .nav-item.nav-title {
  color: #fcfcfc;
}
.nav-item.nav-title {
  font-weight: bold;
  margin-left: 0;
}

.scrolling-header {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 3.75em;
}
.scrolling-header .nav-main {
  -webkit-animation-name: nav-drop;
  -moz-animation-name: nav-drop;
  animation-name: nav-drop;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.section-main {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2.35765% 0 0;
}
.section-main:before, .section-main:after {
  content: " ";
  display: table;
}
.section-main:after {
  clear: both;
}
.section-main p:first-of-type {
  font-size: 1.25em;
}

.footer-main {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5efef;
  color: #a77070;
}
.footer-main:before, .footer-main:after {
  content: " ";
  display: table;
}
.footer-main:after {
  clear: both;
}
.footer-main .media-image {
  width: 3.75em;
  height: 3.75em;
  border-radius: 1.875em;
}
.footer-main .media-body {
  margin-top: 0.5em;
  padding: 0;
}
