* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: fontastic;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/fontastic/undershirt.eot");
  src: url("../../fonts/fontastic/undershirt.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontastic/undershirt.woff") format("woff"), url("../../fonts/fontastic/undershirt.ttf") format("truetype"), url("../../fonts/fontastic/undershirt.svg#fontastic") format("svg");
}

[data-icon]::before {
  font-family: fontastic;
  color: inherit;
}

[data-icon="twitter"]::before {
  content: "\E000";
}

[data-icon="dribbble"]::before {
  content: "\E001";
}

[data-icon="github"]::before {
  content: "\E002";
}

[data-icon="linkedin"]::before {
  content: "\E003";
}

[data-icon="email"]::before {
  content: "\E004";
}

body {
  background-color: #fcfcfc;
  color: #1f1313;
  font-family: "avenir next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4 {
  padding-bottom: 1em;
  line-height: 1.1;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-style: italic;
}

p {
  padding-bottom: 1em;
}

a {
  text-decoration: none;
  color: #1dba8f;
  cursor: pointer;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 2px solid #1dba8f;
  color: #1dba8f;
  border-radius: 5px;
  height: 2.5em;
  line-height: 2.25em;
  display: inline-block;
  padding: 0 1.5em;
  font-size: 1em;
  background-color: transparent;
  text-align: center;
  font-family: "avenir next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
}
button:hover, input[type="submit"]:hover {
  background-color: #1dba8f;
  color: #fcfcfc;
}

.width-wrapper {
  padding: 2.35765% 1.618em;
  max-width: 740px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.header-main {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 99vh;
  background-image: url("../../images/build/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fcfcfc;
  z-index: 999;
}
.header-main:before, .header-main:after {
  content: " ";
  display: table;
}
.header-main:after {
  clear: both;
}
.header-main::before {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 19, 19, 0.3);
  content: "";
  display: block;
}
.header-main hgroup {
  position: absolute;
  top: 3.75em;
  right: 0px;
  bottom: 0px;
  left: 0px;
  text-align: center;
  margin: auto;
  width: 740px;
  height: 50%;
}

.nav-main {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 3.75em;
  line-height: 3.75em;
}
.nav-main .width-wrapper {
  padding: 0 1.618em;
}

.nav-item {
  color: rgba(252, 252, 252, 0.4);
  display: block;
  float: left;
  margin-left: 1.618em;
  text-align: center;
  font-size: 1.25em;
}
.nav-item:hover, .nav-item.is-selected, .nav-item.nav-title {
  color: #fcfcfc;
}
.nav-item.nav-title {
  font-weight: bold;
  margin-left: 0;
}

.scrolling-header {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 3.75em;
}

.section-main {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.section-main:before, .section-main:after {
  content: " ";
  display: table;
}
.section-main:after {
  clear: both;
}

.timeline {
  border-left: 0.375em solid #dddddd;
  padding: 1.618em 0 0 1.618em;
}

.timeline-item {
  *zoom: 1;
  display: block;
  margin-bottom: 3.236em;
}
.timeline-item:before, .timeline-item:after {
  content: " ";
  display: table;
}
.timeline-item:after {
  clear: both;
}
.timeline-item hgroup {
  position: relative;
  padding-bottom: 0.5em;
}
.timeline-item hgroup::before {
  position: absolute;
  top: 0px;
  left: -1.618em;
  width: 1.125em;
  height: 1.125em;
  box-shadow: inset 0 0 0 6px #dddddd;
  background-color: #fcfcfc;
  border-radius: 0.5625em;
  content: "";
  margin-top: 0.1875em;
  margin-left: -0.75em;
}
.timeline-item hgroup h3,
.timeline-item hgroup h4 {
  padding-bottom: 0.25em;
}
.timeline-item button, .timeline-item input[type="submit"] {
  width: 100%;
}

.timeline-thumbnail {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  display: block;
  margin: 1em auto;
}
.timeline-thumbnail img {
  background-image: url("../../images/build/laptop.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: block;
  max-height: 100%;
  max-width: 100%;
  padding: 4.8% 12.3647604% 6.1823802%;
}

.footer-main {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #dddddd;
  color: #919191;
}
.footer-main:before, .footer-main:after {
  content: " ";
  display: table;
}
.footer-main:after {
  clear: both;
}

.contact-modal {
  padding: 2.35765%;
  position: fixed;
  top: 100px;
  left: 50%;
  background-color: #fcfcfc;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
  margin-left: -300px;
  width: 600px;
  z-index: 9999;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  background-color: #fcfcfc;
  border-radius: 5px;
  border: 2px solid #dddddd;
  color: #1f1313;
  display: block;
  margin-bottom: 0.75em;
  padding: 0.375em;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #c4c4c4;
}
input[type="text"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
textarea:-moz-placeholder {
  color: #c4c4c4;
}
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
textarea::-moz-placeholder {
  color: #c4c4c4;
}
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #c4c4c4;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #1dba8f;
  box-shadow: 0 0 5px rgba(29, 186, 143, 0.6);
}

input[type="submit"] {
  float: right;
}
