@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "reset";

// VARIABLES move these
$color-accent: #1DBA8F;
$color-dark:   #1F1313;
$color-mid:    #DDD;
$color-light:  #FCFCFC;

$max-content-width: 740px;

$font-base: 'avenir next', $helvetica;

$small:  em(24);
$medium: em(36);
$large:  em(48);
$xlarge: em(60);

$timeline-width: em(6);

// MIXINS
@mixin cursor-zoom-in {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

@mixin vertical-center($height) {
  height: $height;
  line-height: $height;
}

body {
  background-color: $color-light;
  color: $color-dark;
  font-family: $font-base;
  font-size: 18px;
  line-height: $small;
}

h1,
h2, 
h3,
h4 {
  padding-bottom: 1em;
  line-height: 1.1;
}

h1 {
  font-size: $large;
  font-weight: bold;
}

h2 {
  font-size: $medium;
}

h3 {
  font-size: $small;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-style: italic;
}

p {
  padding-bottom: 1em;
}

a {
  text-decoration: none;
  color: $color-accent;
}

button {
  @include appearance(none);
  border: 2px solid $color-accent;
  color: $color-accent;
  border-radius: 5px;
  height: $medium + em(4);
  line-height: $medium;
  display: inline-block;
  padding: 0 $small;
  font-size: 1em;
  background-color: transparent;
  text-align: center;
  font-family: $font-base;
  cursor: pointer;

  &:hover {
    background-color: $color-accent;
    color: $color-light;
  }
}

%section {
  @include outer-container;
}

%width-wrapper,
.width-wrapper {
  @include pad(default $gutter);
  max-width: $max-content-width;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.header-main {
  @extend %section;
  background-image: url("../../images/build/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-light;
  @include size(100% 99vh);
  @include position(relative, 0px 0 0 0px);
  z-index: 999;

  &::before {
    @include position(absolute, 0px 0px 0px 0px);
    @include size(100%);
    background-color: rgba($color-dark, 0.3);
    content: "";
    display: block;
  }

  hgroup {
    @include position(absolute, $xlarge 0px 0px 0px);
    text-align: center;
    margin: auto;
    @include size($max-content-width 50%);
  }
}

.nav-main {
  @include position(absolute, 0px 0px 0 0px);
  @include vertical-center($xlarge);

  .width-wrapper {
    @include box();
    padding: 0 $gutter;
  }
}

.nav-item {
  @include box-flex(1);
  color: rgba($color-light, 0.4);
  display: block;
  margin-right: $gutter;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &.is-selected {
    color: $color-light;
  }
}

.scrolling-header {
  @include position(absolute, 0 0px 0px 0px);
  @include size(100% $xlarge);
}

.section-main {
  @extend %section;
  @extend %width-wrapper;
}

.timeline {
  border-left: $timeline-width solid $color-mid;
  padding: $gutter 0 0 $gutter;
}

.timeline-item {
  @include row();
  margin-bottom: $gutter * 2;

  hgroup {
    position: relative;
    padding-bottom: 0.5em;

    &::before {
      $size: em(18);
      $left: -$gutter;
      @include position(absolute, 0px 0 0 $left);
      @include size($size);
      box-shadow: inset 0 0 0 6px $color-mid;
      background-color: $color-light;
      border-radius: $size / 2;
      content: "";
      margin-top: ($small - $size) / 2;
      margin-left: -($size / 2) - ($timeline-width / 2);
    }

    h3,
    h4 {
      padding-bottom: 0.25em;
    }
  }

  button {
    @include fill-parent;
  }
}

.timeline-thumbnail {
  @include cursor-zoom-in;
  display: block;
  margin: 1em auto;

  img {
    background-image: url("../../images/build/laptop.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    max-height: 100%;
    max-width: 100%;
    padding: 4.8% 12.3647604% 6.1823802%;
  }
}

.footer-main {
  @extend %section;
  background-color: $color-mid;
  color: darken($color-mid, 30%);
}
