@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "reset";

// VARIABLES move these
$color-accent: #1DBA8F;
$color-dark:   #1F1313;
$color-mid:    #DDD;
$color-light:  #FCFCFC;

$max-content-width: 740px;

$small:  em(24);
$medium: em(36);
$large:  em(48);
$xlarge: em(60);

body {
  background-color: $color-light;
  color: $color-dark;
  font-family: 'avenir next', $helvetica;
  font-size: 18px;
  line-height: $small;
}

h1,
h2, 
h3,
h4 {
  padding-bottom: 1em;
  line-height: 1.1;
}

h1 {
  font-size: $large;
}

h2 {
  font-size: $medium;
  font-weight: bold;
}

h3 {
  font-size: $small;
  font-weight: bold;
}

h4 {
  font-size: 1em;
}

p {
  padding-bottom: 1em;
}

a {
  text-decoration: none;
  color: $color-accent;
}

%section {
  @include outer-container;
}

%width-wrapper,
.width-wrapper {
  @include pad(default $gutter);
  max-width: $max-content-width;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.header-main {
  @extend %section;
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-light;
  height: 99vh;
  position: relative;

  &::before {
    @include position(absolute, 0px 0px 0px 0px);
    @include size(100%);
    background-color: rgba($color-dark, 0.3);
    content: "";
    display: block;
  }

  hgroup {
    @include position(absolute, 50% 0 0 0);
    text-align: center;
    margin-top: -200px;
  }
}

.nav-main {
  @include position(absolute, 0px 0px 0 0px);
  background-color: rgba($color-dark, 0.2);
  height: $xlarge;
  line-height: $xlarge;

  .width-wrapper {
    @include box();
    padding: 0 $gutter;
  }
}

.nav-item {
  @include box-flex(1);
  color: rgba($color-light, 0.4);
  display: block;
  margin-right: $gutter;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &.is-selected {
    color: $color-light;
  }
}

.section-main {
  @extend %section;
  @extend %width-wrapper;
}

.timeline {
  $timeline-width: em(6);
  border-left: $timeline-width solid $color-mid;
  padding-left: $gutter;

  .timeline-item {
    margin-bottom: $gutter;
    
    hgroup {
      position: relative;
      padding-bottom: 0.5em;

      &::before {
        $size: em(18);
        $left: -$gutter;
        @include position(absolute, 0px 0 0 $left);
        @include size($size);
        background-color: $color-mid;
        border-radius: $size / 2;
        box-shadow: 0 0 0 3px white;
        content: "";
        margin-top: ($small - $size) / 2;
        margin-left: -($size / 2) - ($timeline-width / 2);
      }
    }

    h3,
    h4 {
      padding-bottom: 0.25em;
    }
  }
}

.footer-main {
  @extend %section;
  background-color: $color-mid;
  color: darken($color-mid, 30%);
}
