@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "reset";
@import "prism";

@include font-face(fontastic, '../../fonts/fontastic/undershirt');

// VARIABLES move these
$color-accent: #1DBA8F;
$color-dark:   #1F1313;
$color-mid:    lighten($color-dark, 85%);;
$color-light:  #FCFCFC;

$max-content-width: 740px;

$font-base: 'avenir next', $helvetica;
$font-icon: fontastic;

$small:  em(24);
$medium: em(36);
$large:  em(48);
$xlarge: em(60);

$timeline-width: em(6);

// ANIMATIONS
@include keyframes(nav-drop) {
  from {
    @include transform(translateY(-$xlarge));
  }
  to {
    @include transform(translateY(0));
  }
}

// MIXINS
@mixin cursor-zoom-in {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

@mixin vertical-center($height) {
  height: $height;
  line-height: $height;
}

// ICONS
[data-icon]::before {
  font-family: $font-icon;
  color: inherit;
}

[data-icon="twitter"]::before {
  content: "\E000";
}

[data-icon="dribbble"]::before {
  content: "\E001";
}

[data-icon="github"]::before {
  content: "\E002";
}

[data-icon="linkedin"]::before {
  content: "\E003";
}

[data-icon="email"]::before {
  content: "\E005";
}

body {
  background-color: $color-light;
  color: $color-dark;
  font-family: $font-base;
  font-size: 18px;
  line-height: $small;
}

h1,
h2, 
h3,
h4 {
  padding-bottom: 1em;
  line-height: 1.1;
}

h1 {
  font-size: $large;
  font-weight: bold;
}

h2 {
  font-size: $medium;
}

h3 {
  font-size: $small;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-style: italic;
}

p {
  padding-bottom: 1em;
}

pre[class*="language-"] {
  margin: 0 0 1em;
  background-color: $color-mid;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: $color-accent;
  cursor: pointer;
}

strong {
  font-weight: bold;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

button {
  @include appearance(none);
  border: 2px solid $color-accent;
  color: $color-accent;
  border-radius: 5px;
  height: $medium + em(2);
  line-height: $medium;
  display: inline-block;
  padding: 0 $small;
  font-size: 1em;
  background-color: transparent;
  text-align: center;
  font-family: $font-base;
  cursor: pointer;

  &:hover {
    background-color: $color-accent;
    color: $color-light;
  }
}

%width-wrapper,
.width-wrapper {
  @include pad(default $gutter);
  max-width: $max-content-width;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.header-main {
  @include outer-container;
  @include position(relative, 0px 0 0 0px);
  @include size(100% 95vh);
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-light;
  z-index: 999;

  &::before {
    @include position(absolute, 0px 0px 0px 0px);
    @include size(100%);
    background-color: rgba($color-dark, 0.3);
    content: "";
    display: block;
  }

  hgroup {
    @include position(absolute, $xlarge 0px 0px 0px);
    text-align: center;
    margin: auto;
    @include size($max-content-width 50%);
  }
}

.nav-main {
  @include position(absolute, 0px 0px 0 0px);
  @include vertical-center($xlarge);

  .width-wrapper {
    padding: 0 $gutter;
  }
}

.nav-item {
  color: rgba($color-light, 0.4);
  display: block;
  float: left;
  margin-left: $gutter / 2;
  text-align: center;
  font-size: em(20);

  &:hover,
  &.is-selected,
  &.nav-title {
    color: $color-light;
  }

  &.nav-title {
    font-weight: bold;
    margin-left: 0;
  }
}

.scrolling-header {
  @include position(absolute, 0 0px 0px 0px);
  @include size(100% $xlarge);

  .nav-main {
    @include animation-name(nav-drop);
    @include animation-duration(0.3s);
    @include animation-fill-mode(forwards);
  }
}

.section-main {
  @include outer-container;
  @include pad(default 0);

  p:first-of-type {
    font-size: em(20);
  }
}

.footer-main {
  $footer-color: darken($color-mid, 40%);
  @include outer-container;
  background-color: $color-mid;
  color: $footer-color;

  button {
    $color: darken($color-mid, 20%);
    @include fill-parent;
    border-color: $color;
    color: $color;

    &:hover {
      color: $color-light;
      background-color: $color;
      // border-color: $color-light;
    }
  }
}
